body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 123, 255, 0.337);
}

.form-title {
  font-size: 20px;
  color: #007bff;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  text-align: center;
}

.feed-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.glass-button,
.glass-button:link,
.glass-button:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    color: white;
    background: rgba(0, 123, 255, 0.337);
    border: none;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s ease;
    
}

.glass-button:hover {
    background: rgba(150, 190, 255, 0.3);
}

.bi {
    margin-left: 5px;
    margin-right: 5px;
}

.member-list {
  list-style: none;
  padding-left: 0;
}

.member-list li {
  padding: 0.5rem 0;
}

.member-list a {
  text-decoration: none;
  color: #007bff;
}

.member-list a:hover {
  text-decoration: underline;
}

.member-list {
  margin-top: 15px;
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
  background: #f9f9f9;
  border-radius: 8px;
  list-style: none;
}

.member-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e7ff;
  margin-bottom: 8px;
  transition: background-color 0.3s;
  font-weight: bold;
}

.member-item:hover {
  background-color: #c7d2fe;
}

.member-item a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  width: 100%;
  font-weight: bold;
}

.member-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10px;
}

.member-item a:hover {
  text-decoration: none;
}

#background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.main-footer {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #777;
  padding: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #ddd;
  margin-top: 50px;
}





