body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 123, 255, 0.337);
}


.form-title {
  font-size: 20px;
  color: #007bff;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
  text-align: center;
}

.feed-container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    box-sizing: border-box;
}

.glass-button,
.glass-button:link,
.glass-button:visited {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    color: white;
    background: rgba(0, 123, 255, 0.337);
    border: none;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s ease;
    
}

.glass-button:hover {
    background: rgba(150, 190, 255, 0.3);
}

.bi {
    margin-left: 5px;
    margin-right: 5px;
}
