.settings-container {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    background: #ffffffdd;
    border-radius: 12px;
    padding: 32px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 6px;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.profile-preview {
    margin-top: 10px;
    max-width: 80px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.delete-button {
    background-color: rgb(217, 45, 45);
    margin-top: 20px;
}

.delete-button:hover {
    background-color: rgb(255, 95, 95);
}

.modal.hidden {
    display: none;
}
.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex; justify-content: center; align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    min-width: 300px;
    text-align: center;
}
.cancel-button {
    background: transparent;
    color: #333;
}

.change-pass {
    margin-top: 20px;
    background-color: #71c78a;
}

.change-pass:hover {
    background-color: #a3edb8;
}

.pass-input {
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
}

.x-button {
    background-color: #333;
    margin-top: 20px;
}

.x-button:hover{
    background-color: #4c4b4b;
}

.x-link {
    color: white;
    text-decoration: none;
}