<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/styles/global.css"/>
    <link rel="stylesheet" href="/styles/navbar.css" />
</head>
<body>

<%- include('partials/navbar', { user }) %>


</body>
<script src="/js/navbar.js"></script>
</html>
