<!DOCTYPE html>
<!--this is an EJS template for the home page-->
<html lang="">
<head>
    <title>Welcome</title>
</head>
<body>
<h1>Welcome, <%= fullName %>!</h1>
<form method="POST" action="/api/auth/logout">
    <button type="submit">Logout</button>
</form>
</body>
</html>
