<nav class="navbar">
    <div class="navbar-left">
        <a href="/home" class="navbar-logo">
            <img src="/img/logo.png" alt="FriendZone Logo" class="navbar-logo-img" />
            <span class="navbar-brand">FRIENDZONE</span>
        </a>
    </div>

    <div class="navbar-center">
        <div class="navbar-dropdown" id="search-dropdown">
            <button class="drop-button dropdown-toggle" type="button" id="search-dropdown-btn">
            <i class="bi bi-search"></i> <span id="search-dropdown-label">Search For...</span>
            </button>
            <ul class="dropdown-menu" id="search-dropdown-menu">
            <li><button type="button" data-type="users">Users</button></li>
            <li><button type="button" data-type="groups">Groups</button></li>
            <li><button type="button" data-type="posts">Posts</button></li>
            </ul>
        </div>
    </div>

    <div class="navbar-links">

        <div class="navbar-dropdown">
            <button class="glass-button dropdown-toggle"><i class="bi bi-person-circle"></i> My Space</button>
            <ul class="dropdown-menu">
                <li><a href="/my-posts">My Posts</a></li>
                <li><a href="/my-following-followers">Following/Followers</a></li>
                <li><a href="/my-groups">My Groups</a></li>
                <li><a href="/map">Locations</a></li>
            </ul>
        </div>

        <a href="/history" class="glass-button"><i class="bi bi-clock-history"></i>History</a>
        <a href="/statistics" class="glass-button"><i class="bi bi-graph-up"></i>Statistics</a>
        <a href="/create-group" class="glass-button"><i class="bi bi-people-fill"></i>Create Group</a>
    </div>

    <div class="navbar-user">

        <img src="<%= user.profileImageUrl || '/img/default-avatar.jpg' %>" alt="Avatar" class="navbar-avatar" />
        <div class="navbar-dropdown">
            <span class="navbar-username"><%= user.firstName %></span>
            <ul class="dropdown-menu">
                <li><a href="/profile">Profile</a></li>
                <li><a href="/settings">Settings</a></li>
                <li><button type="submit" form="logoutForm">Logout</button></li>
            </ul>
        </div>
    </div>

    <form id="logoutForm" action="/api/auth/logout" method="POST" style="display: none;"></form>

</nav>
